.menu,
.menu * {
    box-sizing: border-box;
    transition: 0.3s;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.758);
    position: fixed;
    transition: 0.4s;
    overflow: hidden;

    top: 25%;
    left: 15vw;
    z-index: 5;

    width: 70vw;
    height: 0;
    padding: 0;
    /* transform: translateY(-100vh); */

}

.menu a,
.menu button {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.menu button:hover {
    /* color: rgb(108, 108, 219); */
    border-bottom: 2px solid rgb(98, 98, 206);
}

.open {
    /* transform: translateX(0); */
    transform: translateY(0);
    height: 50vh;
    padding: 20px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}