.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  background: wihte !important;
}

.top-container {
  border: 2px solid white;
  padding: 20px;
  align-self: center;
  justify-self: center;
  padding-block: 100px;
}

.get {
  text-align: center;
}

form button {
  background: white;
  color: black;
  border-radius: 20px;
}

input {
  height: 40px;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.send-btn {
  height: 40px;
  background-color: black;
  color: white;
  font-weight: semibold;
  width: 200px;
  margin-top: 20px;
}

.send-btn:hover {
  background-color: red;
  transition: 0.5s;
  cursor: pointer;
}

.input-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

form > div:first-child {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.form-b {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
textarea {
  padding: 10px;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  border-radius: 10px;
  border: none;
  outline: none;
}

@media only screen and (max-width: 700px) {
  .form-b {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 100%; */
  }
  textarea {
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    border: none;
    outline: none;
  }
  .form-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
}
